.jumbotron{
    background: url('https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/6/0/d/60d866d94f_50166286_vache-min.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h2{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
}




.forecast > div{
  /* border-right: 1px dotted green; */
}

.form {
  margin: 0 auto 3rem;
}

.main-speedometer{
  width: 25rem;
  margin: 4rem auto;
}

.main-speedometer>div{
  overflow: hidden;
  height: 15rem;
}

.speedometer{
  height: 20rem;
}

.speedometer>div{
  overflow: hidden;
}

.forecast{
  display: flex;
  margin-top: 3rem;
  padding: 4rem 0;
  justify-content: space-around;
  gap: 3rem;
  /* border: 2px red solid; */
  align-items: center;
  background-color: rgba(152, 251, 152, 0.349);
  width: 100%;
  margin: 0 auto  ;
}

