
table{
  border-collapse: collapse; 
}

th{
  font-size: 0.8rem;
  padding: 1rem 0;
}

td div {
  margin: auto;
}

td{
  justify-content: center;
  padding: 1rem;
}

th.selected, td.selected { 
  border-left:2px solid orchid; 
  border-right:2px solid orchid; 
}

thead{
  border-bottom: 1px black solid;
}



