body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App{
  display: flex;
  flex: 1;
  flex-direction: column;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

form{
  width: max-content;
}

form > div{
  margin: 1rem 0;
}

form > div:last-of-type{
  text-align: left;
}

form label{
  text-align: left;
}

form input, .react-geocoder input{
  width: 20rem;
  padding: 0.5rem;
}

button{
  background-color: transparent;
  border: 2px #3BB589 solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: inherit;
  color: #3BB589
}

.react-geocoder input{
  border-radius: 10px;
  border-color: #3BB589;
  box-shadow: none;
  font-family: inherit;
}

.react-geocoder input:focus{
  outline: 0;
}

.A { background-color: forestgreen; }
.B { 
  background-color: yellow; 
  color:black}
.C { background-color: orangered; }
.D { background-color: rgb(184, 0, 0); }

.round{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.B.round{
  color: black;
}

.section {
  /* margin: 5rem 0; */
  width: 100%;
}

.padding-xl{
  padding: 3rem 0;

}

.react-geocoder-results{
  width: max-content;
  margin:1rem auto;
  border-radius: 10px;
}

.react-geocoder-results > *{
  border: 1px rgb(191, 191, 191) solid;
}